secrets = {
    "ssid": "your_wifi_name",
    "password": "your_wifi_password",
    "github_token": "your_github_pat",
    "gmail_user": "you_gmail_id",
    "gmail_app_password": "your_gmail_app_password"
    "timezone_offset": "your_timezone_offset" # ex: 5.5 for India
}